{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="wrapper wrapper-full-page ">
    <div class="full-page login-page section-image" filter-color="black" data-image="/static/img/bg.jpg">

        <div class="content">
            <div class="container">

                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <div class="card-header ">

                            <div class="logo-container">
                                <img src="/static/img/favicon.png" alt="">
                            </div>

                            <div class="text-center">

                                <h3>{% trans "Password Reset" %}</h3>
                                {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}


                            </div>

                        </div>
                        <div class="card-body text-left">

                            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it
                                within a few minutes.{% endblocktrans %}</p>




                        </div>
                        <div class="card-footer text-center">
                            <div class="pull-left">
                                <a href="" class="btn btn-info">Go Home</a>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-outline-primary font-weight-bolder">
                                    Support
                                </button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>


            {% include 'includes/footer.html' %}


        </div>



    </div>
</div>
{% endblock %}