{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="wrapper wrapper-full-page ">
    <div class="full-page login-page section-image" filter-color="black" data-image="/static/img/bg.jpg">

        <div class="content">
            <div class="container">

                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <div class="card-header ">

                            <div class="logo-container">
                                <img src="/static/img/favicon.png" alt="">
                            </div>

                            <div class="text-center">

                                <h3>{% trans "Change Password" %}</h3>
                                {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}
                            </div>

                        </div>
                        <div class="card-body ">

                            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                                {% csrf_token %}

                                {% for field in form %}

                                <div
                                    class="input-group no-border form-control-lg {% if field.errors %} has-danger {% endif %} ">
                                    <span class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="now-ui-icons users_single-02"></i>
                                        </div>
                                    </span>
                                    {% render_field field class="form-control" %}
                                </div>

                                {% if field.errors %}
                                {% for error in field.errors %}
                                <div class="text-left text-danger font-weight-bolder">
                                    <p>{{ error|escape}}</p>
                                </div>
                                <script>
                                $('.form-control').addClass('form-control-danger')
                                </script>
                                {% endfor %}
                                {% endif %}

                                {% endfor %}
                                <input type="submit" value="{% trans "Change Password" %}"
                                    class="btn btn-primary btn-round btn-lg btn-block mb-3" />
                            </form>



                        </div>


                    </div>

                </div>
            </div>


            {% include 'includes/footer.html' %}


        </div>



    </div>
</div>


{% endblock %}