{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="wrapper wrapper-full-page ">
    <div class="full-page login-page section-image" filter-color="black" data-image="/static/img/bg.jpg">

        <div class="content">
            <div class="container">

                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <div class="card-header ">

                            <div class="logo-container">
                                <img src="/static/img/favicon.png" alt="">
                            </div>

                            <div class="text-center">


                                <h3>{% trans "Change Password" %}</h3>

                            </div>

                        </div>
                        <div class="card-body text-center">

                            <p>{% trans 'Your password is now changed.' %}</p>




                        </div>
                        <div class="card-footer text-center">
                            <div class="pull-right">
                                <a href="{% url 'account_login' %}" class="btn btn-outline-info font-weight-bolder">Login Here</a>
                            </div>
                            
                        </div>


                    </div>

                </div>
            </div>


            {% include 'includes/footer.html' %}


        </div>



    </div>
</div>


{% endblock %}