{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Kwiyandikisha
{% endblock title %}


{% block content %}

<!-- End Navbar -->
<div class="wrapper wrapper-full-page ">

    <div class="full-page register-page section-image" filter-color="black" data-image="/static/img/bg1.jpg">

        <div class="content">
            <div class="container">

                <div class="row">
                    <div class="col-md-5 ml-auto">
                        <div class="info-area info-horizontal mt-5">
                            <div class="icon icon-primary">
                                <i class="now-ui-icons media-2_sound-wave"></i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">Harvesting Permits</h5>
                                <p class="description">
                                    This system will allow you to apply for a forest harvesting permit in your district completely online.
                                </p>
                            </div>
                        </div>
                        <div class="info-area info-horizontal">
                            <div class="icon icon-primary">
                                <i class="now-ui-icons media-1_button-pause"></i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">Transport Permit</h5>
                                <p class="description">
                                    Fill the form, and your application will be submitted online. You will be contacted in a period less than 3 days of office work days
                                </p>
                            </div>
                        </div>
                        <div class="info-area info-horizontal">
                            <div class="icon icon-info">
                                <i class="now-ui-icons users_single-02"></i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">Built For DFNROs</h5>
                                <p class="description">
                                    This platform also provide neccessary tools for District Forestry Officers to manage and approve different permits. Not only that, they can share ideas too, with integrated chat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mr-auto">
                        <div class="card card-signup text-center">

                            <form role="form" method="post" action="">

                                {% csrf_token %}

                                <div class="card-header ">
                                    <h4 class="card-title">Iyandikishe Hano</h4>
                                </div>
                                <div class="card-body ">

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="now-ui-icons ui-1_email-85"></i>
                                            </div>
                                        </div>
                                        {% render_field form.email class="form-control" %}
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="now-ui-icons  users_single-02"></i>
                                            </div>
                                        </div>
                                        {% render_field form.first_name class="form-control" placeholder="First name"  %}
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="now-ui-icons  users_single-02"></i>
                                            </div>
                                        </div>
                                        {% render_field form.last_name class="form-control" placeholder="Last name"  %}
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                            </div>
                                        </div>
                                        <input type="password" name="password1" placeholder="Password"
                                            class="form-control" required id="id_password1">
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                            </div>
                                        </div>
                                        <input type="password" name="password2" placeholder="Password check"
                                            class="form-control" required id="id_password2">
                                    </div>

                                </div>
                                <div class="card-footer ">
                                    <button type="submit" name="register" class="btn btn-primary my-4">Ohereza</button>
                                </div>

                            </form>

                        </div>
                        <div class="">
                            <div class="pull-left">
                                <h6>
                                    <a class="text-white" href="{% url 'account_login' %}" class="link">Injira</a>
                                </h6>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        {% include 'includes/footer.html' %}

    </div>



</div>
{% endblock content %}


{% block extra_js %}
<script>
    $(document).ready(function () {
        $("#register_link").addClass('active');

        {% if form.errors %}

        {% for field in form %}
        {% for error in field.errors %}
        $.notify({
            title: '<b>{{field.label|capfirst}}</b>',
            message: '{{error|escape}}',
        }, {
            type: 'danger',
            delay: 3000,

        })
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <p class="text-left">
            {{ error| escape}}
        </p>
        {% endfor %}

        {% endif %}

    })
</script>
{% endblock extra_js %}