{% load static %}
<!DOCTYPE html>
<!-- Created by pdf2htmlEX (https://github.com/coolwanglu/pdf2htmlex) -->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="/static/page/base.min.css" />
    <link rel="stylesheet" href="/static/page/fancy.min.css" />
    <link rel="stylesheet" href="/static/page/main.css" />
    <script src="/static/page/compatibility.min.js"></script>
    <script src="/static/page/theViewer.min.js"></script>
    <script>
        try {
            theViewer.defaultViewer = new theViewer.Viewer({});
        } catch (e) { }
    </script>
    <title></title>
</head>

<body>
    <div id="sidebar">
        <div id="outline">
        </div>
    </div>
    <div id="page-container">
        <div id="pf1" class="pf w0 h0" data-page-no="1">
            <div class="pc pc1 w0 h0"><img class="bi x0 y0 w1 h1" alt="" src="bg1.png" />
                <div class="t m0 x0 h2 y1 ff1 fs0 fc0 sc0 ls0 ws0">REPUBULIKA Y’U RWANDA</div>
                <div class="t m0 x0 h2 y2 ff1 fs0 fc0 sc0 ls0 ws0">INTARA Y‘AMAJYARUGURU</div>
                <div class="t m0 x0 h2 y3 ff1 fs0 fc0 sc0 ls0 ws0">AKARERE KA GICUMBI</div>
                <div class="t m0 x0 h2 y4 ff1 fs0 fc0 sc0 ls0 ws0">URUHUSHYA RWO GUTWARA AMASITERI Y’IBITI N</div>
                <div class="t m0 x1 h3 y5 ff1 fs1 fc0 sc0 ls0 ws0">o </div>
                <div class="t m0 x2 h2 y4 ff1 fs0 fc0 sc0 ls0 ws0">187 / PT / 2020</div>
                <div class="t m0 x0 h4 y6 ff2 fs2 fc0 sc0 ls0 ws0">1. AMAZINA: <span class="ff3">MUKANDAHIRO
                        Egidio</span></div>
                <div class="t m0 x0 h5 y7 ff2 fs2 fc0 sc0 ls0 ws0">2. AHO ABARIZWA: GICUMBI</div>
                <div class="t m0 x0 h5 y8 ff2 fs2 fc0 sc0 ls0 ws0">INDANGAMUNTU No: 1196970001314052</div>
                <div class="t m0 x3 h5 y9 ff4 fs2 fc0 sc0 ls0 ws0"><span class="_ _0"> </span><span
                        class="ff2">AKAGARI: MUNANIRA</span></div>
                <div class="t m0 x3 h5 ya ff4 fs2 fc0 sc0 ls0 ws0"><span class="_ _0"> </span><span
                        class="ff2">UMURENGE: RUTARE</span></div>
                <div class="t m0 x3 h5 yb ff4 fs2 fc0 sc0 ls0 ws0"><span class="_ _0"> </span><span
                        class="ff2">AKARERE: GICUMBI</span></div>
                <div class="t m0 x3 h5 yc ff4 fs2 fc0 sc0 ls0 ws0"><span class="_ _0"> </span><span class="ff2">INTARA:
                        AMAJYARUGURU</span></div>
                <div class="t m0 x0 h5 yd ff2 fs2 fc0 sc0 ls0 ws0">3. INGANO Y’IBIKOMOKA KU MASHYAMBA AZATWARA: <span
                        class="ff1">AMASITERI: 28</span></div>
                <div class="t m0 x0 h5 ye ff2 fs2 fc0 sc0 ls0 ws0">4. AHO BIVA: <span class="ff1">RUTARE /
                    </span>GICUMBI AHO BIJYA: <span class="ff1">KIGALI</span></div>
                <div class="t m0 x0 h5 yf ff2 fs2 fc0 sc0 ls0 ws0">5. <span class="fs3">Nyir’ishyamba ryasaruwe:
                        Mukandahiro: Umudugudu: Gasharu Akagari: Munanira Tél: ..........</span></div>
                <div class="t m0 x0 h5 y10 ff2 fs3 fc0 sc0 ls0 ws0"> <span class="fs2">6. UBWOKO BW‘IMODOKA IZABITWARA:
                        <span class="ff1">FUSO</span> N° ZA PULAKI: <span class="ff1">RAB 684 E</span> Toni Imodoka
                        itwara:7</span></div>
                <div class="t m0 x0 h6 y11 ff2 fs2 fc0 sc0 ls0 ws0">7. IZINA RY’UMUSHOFERI: UWIZEYE<span class="ff5">
                        Tel: ...</span></div>
                <div class="t m0 x0 h5 y12 ff2 fs2 fc0 sc0 ls0 ws0">8. IGIHE URUHUSHYA RUZAMARA: Kuva ku wa<span
                        class="ff6"> 09/04/2020 </span>Kugeza ku wa 30<span class="ff6">/04/2020</span></div>
                <div class="t m0 x0 h7 y13 ff7 fs2 fc0 sc0 ls0 ws0">N.B<span class="ff6">: </span>Uru ruhushya ruta
                    agaciro iyo urangije gutwara ibingana n’ibyagaragajwe mu ngingo ya 3.</div>
                <div class="t m0 x0 h8 y14 ff7 fs2 fc0 sc0 ls0 ws0"> Ntiwemerewe gutwara ibiti birengeje 1m z’uburebure
                    cyangwa amakumbo</div>
                <div class="t m0 x0 h9 y15 ff2 fs0 fc0 sc0 ls0 ws0">Bikorewe, <span class="ff6">Gicumbi, </span>Kuwa
                    09/04/2020</div>
                <div class="t m0 x0 h9 y16 ff1 fs0 fc0 sc0 ls0 ws0">Biteguwe na<span class="ff2">:<span class="_ _1">
                        </span></span>Byemejwe na<span class="ff2">:</span></div>
                <div class="t m0 x0 h5 y17 ff2 fs2 fc0 sc0 ls0 ws0">Amazina:<span class="ff1"> NYAKAGABO EMILE
                        NDAYAMBAJE Félix</span></div>
                <div class="t m0 x0 h5 y18 ff2 fs2 fc0 sc0 ls0 ws0">Icyo ashinzwe: Amashyamba n’Umutungo Kamere<span
                        class="ff1"> </span>Umuyobozi w’Akarere ka Gicumbi</div>
                <div class="t m0 x0 h5 y19 ff2 fs2 fc0 sc0 ls0 ws0"> </div>
                <div class="t m0 x0 ha y1a ff1 fs2 fc0 sc0 ls0 ws0">ICYITONDERWA:</div>
                <div class="t m0 x3 h5 y1b ff2 fs2 fc0 sc0 ls0 ws0">-<span class="_ _2"> </span><span class="fs4">Uru
                        ruhushya ntabwo rurenza igihe cy’amezi atatu, kandi rutangwa ku kintu kimwe gusa </span></div>
                <div class="t m0 x4 hb y1c ff2 fs4 fc0 sc0 ls0 ws0">( amakara, imbaho, inkwi, ibiti)</div>
                <div class="t m0 x3 h5 y1d ff2 fs2 fc0 sc0 ls0 ws0">-<span class="_ _2"> </span><span class="fs4">Usaba
                        <span class="_ _3"></span>uru <span class="_ _3"></span>ruhushya <span
                            class="_ _3"></span>yerekana <span class="_ _3"></span> <span class="_ _3"></span>kopi <span
                            class="_ _3"></span>y’impushya <span class="_ _3"></span>zo <span class="_ _3"></span>gutema
                        <span class="_ _3"></span>cyangwa <span class="_ _3"></span>izo <span
                            class="_ _3"></span>gutwara <span class="_ _3"></span>z’abamuzanira <span
                            class="_ _3"></span>imbaho, <span class="_ _3"></span>amakara, <span
                            class="_ _3"></span>inkwi, <span class="_ _3"></span>ibiti <span class="_ _3"></span>cyangwa
                        <span class="_ _3"></span>se </span></div>
                <div class="t m0 x4 hb y1e ff2 fs4 fc0 sc0 ls0 ws0">akerekana kopi ya raporo y’inama yagiriwe
                    n‘abatekinisiye</div>
                <div class="t m0 x3 h5 y1f ff2 fs2 fc0 sc0 ls0 ws0">-<span class="_ _2"> </span><span class="fs4">Uru
                        ruhushya rwemerwa gusa iyo ari umwimerere ( original)</span></div>
                <div class="t m0 x3 h5 y20 ff2 fs2 fc0 sc0 ls0 ws0">-<span class="_ _2"> </span><span class="fs4">Uhawe
                        <span class="_ _4"> </span>uru <span class="_ _4"> </span>ruhushya <span class="_ _4">
                        </span>yiyemeje <span class="_ _4"> </span>gukurikiza <span class="_ _4"> </span>itegeko <span
                            class="_ _4"> </span>n’amabwiriza <span class="_ _4"> </span>ariho <span class="_ _4">
                        </span>mu <span class="_ _4"> </span>Gihugu <span class="_ _4"> </span>arebana <span
                            class="_ _4"> </span>n’ubusugire <span class="_ _4"> </span>bw’amashyamba( <span
                            class="_ _4"> </span>itegeko <span class="_ _4"> </span><span class="ff1">N</span></span>
                </div>
                <div class="t m0 x5 hc y21 ff1 fs5 fc0 sc0 ls0 ws0">o </div>
                <div class="t m0 x4 hb y22 ff1 fs4 fc0 sc0 ls0 ws0">47bis/2013 ryo ku wa 28/06/2013<span class="ff2">
                        rigena imicungire n’imikoreshereze y’amashyamba mu Rwanda).</span></div>
            </div>
            <div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
        </div>
        <div id="pf2" class="pf w0 h0" data-page-no="2">
            <div class="pc pc2 w0 h0"><img class="bi x6 y23 w2 hd" alt="" src="bg2.png" />
                <div class="t m0 x4 h2 y24 ff1 fs0 fc0 sc0 ls0 ws0">REPUBULIKA Y’U RWANDA</div>
                <div class="t m0 x4 h2 y25 ff1 fs0 fc0 sc0 ls0 ws0">INTARA Y‘AMAJYARUGURU</div>
                <div class="t m0 x4 h2 y26 ff1 fs0 fc0 sc0 ls0 ws0">AKARERE KA GICUMBI</div>
                <div class="t m0 x4 h2 y27 ff1 fs0 fc0 sc0 ls0 ws0"> FORMULAIRE IJYANYE NO GUPAKIRA IBIKOMOKA KU
                    MASHYAMBA</div>
                <div class="t m0 x4 h9 y28 ff2 fs0 fc0 sc0 ls0 ws0">AMAZINA: <span class="ff1">MUKANDINDA Egidio</span>
                </div>
                <div class="t m0 x4 h9 y29 ff2 fs0 fc0 sc0 ls0 ws0">Ubwoko bw’ibikomoka ku mashyamba atwaye<span
                        class="ff1">: AMASITERI</span></div>
                <div class="t m0 x4 h9 y2a ff2 fs0 fc0 sc0 ls0 ws0">Ingano y’ibyo yemerewe gutwara<span class="ff1">:
                        28</span></div>
                <div class="t m0 x4 h9 y2b ff2 fs0 fc0 sc0 ls0 ws0">Numero y’inyemezabwishyu<span class="ff1">:
                    </span><span class="fs3">GC0382315B yo kuwa 03/03/2019.</span></div>
                <div class="c x6 y2c w3 he">
                    <div class="t m0 x7 hf y2d ff8 fs2 fc0 sc0 ls0 ws0"> </div>
                    <div class="t m0 x7 hf y2e ff8 fs2 fc0 sc0 ls0 ws0">Amatariki </div>
                    <div class="t m0 x7 hf y2f ff8 fs2 fc0 sc0 ls0 ws0">apakiriyeho</div>
                </div>
                <div class="c x8 y2c w4 he">
                    <div class="t m0 x7 hf y2d ff8 fs2 fc0 sc0 ls0 ws0">Ingano y’ibyo </div>
                    <div class="t m0 x7 hf y2e ff8 fs2 fc0 sc0 ls0 ws0">atwaye</div>
                </div>
                <div class="c x9 y2c w5 he">
                    <div class="t m0 x7 hf y2d ff8 fs2 fc0 sc0 ls0 ws0">Amazina n’umukono bya chauffeur</div>
                </div>
                <div class="c xa y2c w6 he">
                    <div class="t m0 x7 hf y2d ff8 fs2 fc0 sc0 ls0 ws0">Amazina n’Umukono by’umukozi wa </div>
                    <div class="t m0 x7 hf y2e ff8 fs2 fc0 sc0 ls0 ws0">Ngali</div>
                </div>
                <div class="t m0 x4 h9 y30 ff2 fs0 fc0 sc0 ls0 ws0">Gicumbi, kuwa 09/04/2020</div>
                <div class="t m0 x4 h9 y31 ff1 fs0 fc0 sc0 ls0 ws0">Biteguwe na<span class="ff2">:<span class="_ _1">
                        </span></span>Byemejwe na<span class="ff2">:</span></div>
                <div class="t m0 x4 h2 y32 ff1 fs0 fc0 sc0 ls0 ws0">NYAKAGABO EMILE NDAYAMBAJE Félix</div>
                <div class="t m0 x4 h9 y33 ff2 fs0 fc0 sc0 ls0 ws0">Icyo ashinzwe:Amashyamba Umuyobozi w’Akarere ka
                    Gicumbi </div>
                <div class="t m0 x4 h9 y34 ff2 fs0 fc0 sc0 ls0 ws0">n’Umutungo Kamere</div>
            </div>
            <div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
        </div>
    </div>
    <div class="loading-indicator">

    </div>
</body>

</html>