{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transport Permit</title>
    <link rel="stylesheet" href="/static/css/main.css" class="css">
    <style>
        .normal {
            font-size: 10pt;
        }

        ol li {
            margin-bottom: 2pt;
        }
    </style>
</head>

<body>
    <div class="page-wrapper transport">
        <div class="heading">
            <div class="header1">REPUBULIKA Y'U RWANDA</div>
            <div class="header1">INTARA Y'AMAJYARUGURU</div>
            <div class="symbol"><img src="/static/img/favicon.jpg" alt="" height="50px" width="50px"></div>
            <div class="header1 underline">AKARERE KA RULINDO</div>
            <div class="header1">REF: <span class="capitalize italic">Ubuhinzi n'Umutungo Kamere</span></div>
        </div>
        <div class="head-title">
            <div class="header1 text-center underline">URUHUSHYA RWO GUTWARA</div>
            <div class="row text-center">
                <div class="header1 text-center underline capitalize">

                    {% for cat in categories %}

                    {% if not cat == permit.category %}
                    <strike>{{cat.get_name_display}}/</strike>
                    {% else %}
                    {{cat.get_name_display}}/
                    {% endif %}

                    {% endfor %}
                </div>
                <div class="normal text-center underline pl-10">No: {{permit.code}}</div>
            </div>

        </div>
        <div class="body">
            <ol class="normal">
                <!-- Usaba uruhushya -->
                <li>AMAZINA: <span class="bold normal capitalize">{{permit.requestor.names}}
                        {% if permit.requestor.telephone %}
                        &nbsp;({{permit.requestor.telephone}})
                        {% endif %}
                    </span></li>
                <li>INDANGAMUNTU: <span class="bold normal">{{permit.requestor.nid}}</span></li>
                <li>AHO ABARIZWA:
                    <ul class="w-60 pl-10">
                        <li><span class="w-50 pull-left">AKAGALI:</span> <span
                                class="bold">{{permit.requestor.r_cell}}</span></li>
                        <li><span class="w-50 pull-left">UMURENGE:</span> <span
                                class="bold">{{permit.requestor.r_sector}}</span></li>
                        <li><span class="w-50 pull-left">AKARERE:</span> <span
                                class="bold">{{permit.requestor.r_district}}</span></li>
                        <li><span class="w-50 pull-left">INTARA:</span> <span
                                class="bold">{{permit.requestor.r_province}}</span></li>
                    </ul>
                </li>

                <!-- IBISABIRWA URUHUSHYA -->
                <li>INGANO Y'IBITWAWE: <span class="bold">{{permit.category.get_name_display}}
                        ({{permit.category.measure}} <span class="bold">{{permit.quantity}}</span>)</span></li>
                <li>AHO BIVA:
                    <!-- Origin location -->
                    <ul class="w-60 pl-10">
                        <li><span class="w-50 pull-left">AKAGALI:</span> <span
                                class="bold">{{permit.origin.l_cell}}</span></li>
                        <li><span class="w-50 pull-left">UMURENGE:</span> <span
                                class="bold">{{permit.origin.l_sector}}</span></li>
                        <li><span class="w-50 pull-left">AKARERE:</span> <span
                                class="bold">{{permit.origin.l_district}}</span></li>
                    </ul>
                </li>

                <li>AHO BIJYA: <span class="bold">{{permit.destination.dest}}</span></li>
                <!-- Imodoka izakoreshwa -->

                <li>IMODOKA IZAKORESHWA: <span class="bold">{{permit.vehicle.vehicle}}</span>
                    <ul class="w-80 pl-10">
                        <li><span class="w-30 pull-left">No ZA PULAKI:</span> <span
                                class="bold license">{{permit.vehicle.plate}}</span></li>
                        <li><span class="w-30 pull-left">IZINA RY'UMUSHOFERI:</span> <span
                                class="bold">{{permit.vehicle.driver}}</span>
                        </li>
                        <li><span class="w-30 pull-left">TELEFONI YE:</span> <span
                                class="bold telephone">{{permit.vehicle.driver_tel}}</span></li>

                        <li><span class="w-30 pull-left">INDANGAMUNTU:</span> <span
                                class="bold nid">{{permit.vehicle.nid}}</span></li> <br>
                    </ul>
                </li>

                <li>IGIHE URUHUSHYA RUZAMARA: <span class="bold">{{permit.permit_period}} <span class="date">Kuva
                            {{permit.start_date|date:"d-m-Y"}}
                            kugeza
                            {{permit.end_date|date:"d-m-Y"}}</span></span></li>
                <br>
            </ol>
        </div>

        <div class="row p-1 normal">
            Bikorewe i <strong>RULINDO</strong>, kuwa <strong>{%now "d m Y"%}</strong>
        </div>
        <div class="row pt-1 mb-5">
            <div class="w-50 pull-left">
                <span class="bold underline normal ">Biteguwe na:</span>
            </div>
            <div class="w-50 pull-right">
                <span class="bold underline normal ">Byemejwe na:</span>
            </div>
        </div>
        <div class="row pt-3" style="margin-top: 10px;">
            <div class="w-50 pull-left">
                <h6 class="normal p-0 m-0">SALAMA Fides</h6>
                <h6 class="normal capitalize">Umukozi ushinzwe amashyamba n'umutungo kamere mu karere ka Rulino
                </h6>
            </div>
            <div class="w-50 pull-right">
                <h6 class="normal p-0 m-0">KAYIRANGA Emmanuel</h6>
                <h6 class="normal">Umuyobozi w'Akrere ka Rulindo</h6>
            </div>
        </div>
        <div class="normal" style="margin-top: 10px;">
            <ul><span class="bold">ICYITONDERWA:</span>
                <li class="pl-5"><i class="arrow right mr-3"></i>Uru ruhushya rukoreshwa kukintu kimwe gusa</li>
                <li class="pl-5"><i class="arrow right mr-3"></i>Usaba uruhushya yerekana kopi y'uruhushya/impushya
                    rwo/zo gutema</li>
                <li class="pl-5"><i class="arrow right mr-3"></i>Uru ruhushya rwemerwa gusa iyo ari umwimerere
                    (Original)</li>
                <li class="pl-5"><i class="arrow right mr-3"></i><span>Uhawe uru ruhushya yiyemeje gukurikiza itegeko
                        n’amabwiriza ariho mu Gihugu arebana n’ubusugire bw’amashyamba( itegeko No 47bis/2013 ryo ku wa
                        28/06/2013 rigena imicungire n’imikoreshereze y’amashyamba mu Rwanda).</span></li>
            </ul>
        </div>
    </div>
</body>

</html>