<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transport Permit</title>
    <link rel="stylesheet" href="/main.css" class="css">
</head>

<body>
    <div class="page-wrapper transport">
        <div class="heading">
            <div class="header1">REPUBULIKA Y'U RWANDA</div>
            <div class="header1">INTARA Y'AMAJYARUGURU</div>
            <div class="symbol"><img src="/img/favicon.jpg" alt="" height="50px" width="50px"></div>
            <div class="header1 underline">AKARERE KA RULINDO</div>
            <div class="header1">REF: <span class="capitalize italic">Ubuhinzi n'Umutungo Kamere</span></div>
        </div>
        <div class="head-title">
            <div class="header1 text-center underline">URUHUSHYA RWO GUTWARA</div>
            <div class="row center">
                <div class="header1 text-center underline">AMAKARA/IMBAHO/INKWI/IBITI</div>
                <div class="normal text-center underline">No: 06/2020-2021</div>
            </div>

        </div>
        <div class="body">
            <ol>
                <li>AMAZINA: <span class="bold normal capitalize">Hafashimana fabrice</span></li>
                <li>INDANGAMUNTU: <span class="bold normal">11997800987887</span></li>
                <li>AHO ABARIZWA:
                    <ul class="w-60 pl-10">
                        <li><span class="w-50 pull-left">UMUDUGUDU:</span> <span class="bold">Nyagasozi</span></li>
                        <li><span class="w-50 pull-left">AKAGALI:</span> <span class="bold">Nyagasozi</span></li>
                        <li><span class="w-50 pull-left">UMURENGE:</span> <span class="bold">Nyagasozi</span></li>
                        <li><span class="w-50 pull-left">AKARERE:</span> <span class="bold">Nyagasozi</span></li>
                        <li><span class="w-50 pull-left">INTARA:</span> <span class="bold">Nyagasozi</span></li>
                    </ul>
                </li>
                <li>INGANO Y'IBITWAWE: <span class="bold">Amakara (Imifuka 200)</span></li>
                <li>AHO BIVA:
                    <ul class="w-60 pl-10">
                        <li><span class="w-50 pull-left">UMUDUGUDU:</span> <span class="bold">Nyagasozi</span></li>
                        <li><span class="w-50 pull-left">AKAGALI:</span> <span class="bold">Murambi</span></li>
                        <li><span class="w-50 pull-left">UMURENGE:</span> <span class="bold">Nyagasozi</span></li>
                        <li><span class="w-50 pull-left">AKARERE:</span> <span class="bold">Nyagasozi</span></li>
                    </ul>
                </li>
                <li>AHO BIJYA: <span class="bold">Umujya wa Kigali</span></li>
                <li>IMODOKA IZAKORESHWA: <span class="bold">FUSO</span>
                    <ul class="w-80 pl-10">
                        <li><span class="w-30 pull-left">No ZA PULAKI:</span> <span class="bold license">RAB 000
                                B</span></li>
                        <li><span class="w-30 pull-left">IZINA RY'UMUSHOFERI:</span> <span class="bold">HABKURAMA</span>
                        </li>
                        <li><span class="w-30 pull-left">TELEFONI YE:</span> <span
                                class="bold telephone">0788498955</span></li>
                        <li><span class="w-30 pull-left">INDANGAMUNTU:</span> <span
                                class="bold nid">119978225462235</span></li>
                    </ul>
                </li>
                <li>IGIHE URUHUSHYA RUZAMARA: <span>Umunsi Umwe <span class="date">20/08/2020</span></span></li>
            </ol>
        </div>

        <div class="row p-1 normal">
            Bikorewe i <strong>RULINDO</strong>, kuwa <strong>28/07/2020</strong>
        </div>
        <div class="row pt-1 mb-5">
            <div class="w-50 pull-left">
                <span class="bold underline normal ">Biteguwe na:</span>
            </div>
            <div class="w-50 pull-right">
                <span class="bold underline normal ">Byemejwe na:</span>
            </div>
        </div>
        <div class="row pt-3">
            <div class="w-50 pull-left">
                <h6 class="normal p-0 m-0">SALAMA Fides</h6>
                <h6 class="normal capitalize">Umukozi ushinzwe amashyamba n'umutungo kamere mu karere ka Rulino
                </h6>
            </div>
            <div class="w-50 pull-right">
                <h6 class="normal p-0 m-0">KAYIRANGA Emmanuel</h6>
                <h6 class="normal">Umuyobozi w'Akrere ka Rulindo</h6>
            </div>
        </div>
        <div>
            <ul><span class="bold">ICYITONDERWA:</span>
                <li class="pl-5">Uru ruhushya rukoreshwa kukintu kimwe gusa</li>
                <li class="pl-5">Uru ruhushya rukoreshwa kukintu kimwe gusa</li>
                <li class="pl-5">Uru ruhushya rukoreshwa kukintu kimwe gusa</li>
                <li class="pl-5">Uru ruhushya rukoreshwa kukintu kimwe gusa</li>
                <li class="pl-5">Uru ruhushya rukoreshwa kukintu kimwe gusa</li>
            </ul>
        </div>
    </div>
</body>

</html>