{% load static %}

<div class="sidebar" data-color="blue">

    <div class="logo text-center font-weight-bolder">

        <a href="/" class="simple-text logo-normal font-weight-bolder">
            DFMS | Rulindo
        </a>

    </div>

    {% if user.is_authenticated %}
    <div class="sidebar-wrapper" id="sidebar-wrapper">

        <ul class="nav">
            <li class=" active" id="dashboard-menu">
                <a href="{% url 'home' %}">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#pagesExamples">
                    <i class="now-ui-icons design_image"></i>
                    <p>
                        Impushya
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse " id="pagesExamples">
                    <ul class="nav">

                        <li>
                            <a href="{% url 'hp-view' %}">
                                <span class="sidebar-mini-icon">HP</span>
                                <span class="sidebar-normal"> Gusarura </span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'transport-permit-view' %}">
                                <span class="sidebar-mini-icon">TP</span>
                                <span class="sidebar-normal"> Gutwara </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#user">
                    <i class="now-ui-icons files_single-copy-04"></i>
                    <p>
                        Umwirondoro
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse " id="user">
                    <ul class="nav">
                        <li>
                            <a href="{% url 'user-profile' %}">
                                <span class="sidebar-mini-icon">PR</span>
                                <span class="sidebar-normal"> Konti Yanjye </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li>
                <a href="{% url 'account_logout' %}">
                    <i class="now-ui-icons sport_user-run"></i>
                    <p>Sohoka</p>
                </a>
            </li>
        </ul>
    </div>
    {% endif %}
</div>