{% load static %}

<div class="sidebar" data-color="blue">

    <div class="logo text-center font-weight-bolder">

        <a href="/" class="simple-text logo-normal font-weight-bolder">
            DFMS | Rulindo
        </a>

    </div>

    {% if user.is_authenticated %}
    <div class="sidebar-wrapper" id="sidebar-wrapper">

        <ul class="nav">
            <li class=" active" id="dashboard-menu">
                <a href="{% url 'home' %}">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#pagesExamples">
                    <i class="now-ui-icons design_image"></i>
                    <p>
                        Management
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse " id="pagesExamples">
                    <ul class="nav">



                        <li>
                            <a href="/page-lock.html">
                                <span class="sidebar-mini-icon">LS</span>
                                <span class="sidebar-normal"> Lock Screen </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#formsExamples">
                    <i class="now-ui-icons files_single-copy-04"></i>
                    <p>
                        Forms
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse " id="formsExamples">
                    <ul class="nav">
                        <li>
                            <a href="/forms-regular.html">
                                <span class="sidebar-mini-icon">RF</span>
                                <span class="sidebar-normal"> Regular Forms </span>
                            </a>
                        </li>
                        <li>
                            <a href="/forms-extended.html">
                                <span class="sidebar-mini-icon">EF</span>
                                <span class="sidebar-normal"> Extended Forms </span>
                            </a>
                        </li>
                        <li>
                            <a href="/forms-validation.html">
                                <span class="sidebar-mini-icon">V</span>
                                <span class="sidebar-normal"> Validation Forms </span>
                            </a>
                        </li>
                        <li>
                            <a href="/forms-wizard.html">
                                <span class="sidebar-mini-icon">W</span>
                                <span class="sidebar-normal"> Wizard </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="{% url 'account_logout' %}">
                    <i class="now-ui-icons sport_user-run"></i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
    {% endif %}
</div>
