<div class="sidebar" data-color="green">
  <!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow" -->
  <div class="logo text-center">
    <a href="" class="simple-text logo-normal">
      <span class="text-primary font-weight-bold">DFMS</span>
    </a>
  </div>
  <div class="sidebar-wrapper" id="sidebar-wrapper">

    <ul class="nav">

      {% if user.is_authenticated %}

      <li id="dashboard-menu">
        <a href="/">
          <i class="now-ui-icons business_bank"></i>
          <p>Dashboard</p>
        </a>
      </li>


      <li>
        <a href="">
          <i class="now-ui-icons business_money-coins"></i>
          <p>Transactions</p>
        </a>
      </li>
      <li>
        <a href="">
          <i class="now-ui-icons business_briefcase-24"></i>
          <p>Accounts</p>
        </a>
      </li>
      <li>
        <a href="">
          <i class="now-ui-icons ui-1_bell-53"></i>
          <p>Notifications</p>
        </a>
      </li>

      {% if user.is_staff %}
      <li>
        <a data-toggle="collapse" href="#componentsExamples">
          <i class="now-ui-icons business_chart-bar-32"></i>
          <p>
            Management
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse " id="componentsExamples">
          <ul class="nav">
            <li>
              <a href="">
                <span class="sidebar-mini-icon">A</span>
                <span class="sidebar-normal"> Assets </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="sidebar-mini-icon">I</span>
                <span class="sidebar-normal"> Inventory </span>
              </a>
            </li>


          </ul>
        </div>
      </li>
      {% endif %}
      <li id="account_link_auth">
        <a href="">
          <i class="now-ui-icons users_single-02"></i>
          <p>User Profile</p>
        </a>
      </li>

      <li>
        <a href="{% url 'account_logout' %}">
          <i class="now-ui-icons media-1_button-power"></i>
          <p class="text-danger font-weight-bolder">Logout</p>
        </a>
      </li>

      {% endif %}


    </ul>
  </div>
</div>
